html, body, #root {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

.dashboard-container {
  display: flex;
  height: 100%;
  gap: 10px;
}

.sidebar {
  width: 25%;
  padding: 15px;
  background-color: #f5f5f5;
  overflow-y: auto;
}

.charts-section {
  width: 75%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 15px;
  overflow-y: auto;
}

.card {
  background-color: white;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
}

.input-row {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
}

.input-row input {
  width: 60px;
  padding: 5px;
}



















.time-filter {
  margin-bottom: 10px;
}

.time-filter button {
  margin-right: 5px;
  padding: 5px 10px;
  border: none;
  background-color: #ddd;
  cursor: pointer;
  border-radius: 4px;
}

.time-filter button.active {
  background-color: #00f5a0;
  color: #fff;
}
